<Footer class ="page-footer font-small bg-secondary pt-4">

 <div class="container">
 <div class="row">
    <div class= "col-md-12 d-flex justifi-content-center"> 
        <h4 class="text-whiter" > Siga-nos nas redes sociais </h4>
    </div>

 </div>


 <div class="row">
 

 <div class="col-md-12 d-flex justify-content-center">

    <ul class="social-network">
        <li>
                <a href="https://github.com/ThamirisLisboa" tabindex="_blanck" 
                class=" icoGitHub"></a>
                    <i class="fa-brands fa-github" aria-hidden="true"></i>
        </li>
        <li>
            
                <a href="https://www.instagram.com/thamiris_lisboa/" tabindex="_blanck" 
                class=" icoInstagram"></a>
                    <i class="fa-brands fa-instagram" aria-hidden="true"></i>
 
 
                    
        </li>
        <li>
            <a href="https://www.linkedin.com/in/thamiris-vieira-lisboa-02231621a/" tabindex="_blanck" 
            class=" icoLinkedin"></a>
                <i class="fa-brands fa-linkedin" aria-hidden="true"></i>
 
 
                
    </li>
        
    </ul>
 </div>

</div> 



<div class="footer-copyright bg-dark test-center py-3">
    <span class=" text-ligth"> 2022 copyright: </span>

</div>

</div>

 


</Footer>
