#img-br{
        background-image: url(https://i.imgur.com/H88yIo2.png);

        min-height: 695px;
        
        background-position:center ;
        background-repeat: no-repeat;
        background-size: cover;

}